.entertain-header {
  nav {
    margin-bottom: 0;
    position: relative;
    min-height: 50px;
    border: none;
    background-color: #222222;

    @media (min-width: 768px) {
      border-radius: 0;
    }

    a {
      img {
        width: 10%;
      }
    }
  }

  .logo-text {
    position: absolute;
    font-size: 35px;
    left: 70px;
    font-weight: bold;
    color: #dddddd;
  }

  ul.nav.nav-pills {
    padding-top: 15px;
  }

  .nav-link {
    border-radius: 0;
  }

  .navbar.navbar-inverse {
    height: 80px;
  }

  .navbar-header {
    display: inline-block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;

    .navbar-brand {
      font-weight: bold;
    }
  }

  .right-links {
    float: right;
  }

  .nav-pills {
    background-color: #222222;
  }
  .nav-pills>li.active>a,
  .nav-pills>li.active>a:focus,
  .nav-pills>li.active>a:hover {
    color: #dddddd;
    background-color: #494949;
  }

  .nav-pills>li>a {
    color: #ffffff;

    &:hover {
      background-color: #494949;
      color: #dddddd;
    }
  }
}
