<div class="entertain-header">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">Entertainment APP</a>
      </div>
    </div>
  </nav>
  <ul class="nav nav-pills">
    <li role="presentation" routerLinkActive="active">
      <a routerLink="dashboard">Dashboard</a>
    </li>
    <li role="presentation" routerLinkActive="active">
      <a routerLink="community">Community</a>
    </li>
    <li role="presentation" routerLinkActive="active">
      <a routerLink="register">Sign Up</a>
    </li>
    <li role="presentation" routerLinkActive="active" class="right-links">
      <a routerLink="help">Help</a>
    </li>
    <li role="presentation" routerLinkActive="active" class="right-links">
      <a routerLink="about">About</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
