<div class="comics-home-container">
  <div class="view-top">
    <div class="container"></div>
    <a class="comic-tile-4" routerLink="../heroes">
      <img src="assets/images/Marvel-Vs.-DC.jpg" alt="heroes">
    </a>
    <a class="comic-tile-4">
      <img src="assets/images/MarvelDCFight.jpg" alt="heroes">
    </a>
  </div>
  <div class="view-bottom">
    <a class="comic-tile-1-row">
      <img src="assets/images/mvd.jpg" alt="heroes">
    </a>
    <a class="comic-tile-2-row">
      <img src="assets/images/mvd-retro.png" alt="heroes">
    </a>
    <a class="comic-tile-1-row">
      <img src="assets/images/marvel-vs-dc-1.jpg" alt="heroes">
    </a>
    <a class="comic-tile-2-row">
      <img src="assets/images/mvd-modern.jpg" alt="heroes">
    </a>
  </div>
</div>
