<div class="dashboard-view">
  <ul class="nav nav-tabs" >
    <li role="presentation"
        routerLinkActive="active"
        class="nav-item">
      <a routerLink="comics"
         class="nav-link">Comics</a>
    </li>
    <li role="presentation"
        routerLinkActive="active"
        class="nav-item">
      <a routerLink="games"
         class="nav-link">Games</a>
    </li>
    <li role="presentation"
        routerLinkActive="active"
        class="nav-item">
      <a routerLink="music"
         class="nav-link">Music</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
