.dashboard-view {
  ul {
    background-color: #222222;
    padding: 20px 0 0 0;

    a {
      color: white;
      font-weight: bold;
      &:hover {
        background-color: white;
        color: #222222 !important;
      }

      &:hover {
        border-bottom: none;
        color: #dddddd
      }
    }
  }

  .nav-tabs {
    border-bottom: none;
  }
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  border-bottom: none;
  background-color: white;
  color: #222222;
  cursor: default;
}
