nav {
  background-color: #b7b7b7 !important;
}

main {
  height: 100%;
}

.sidebar {
  padding: 0;
}

.nav>li.active>a,
.nav>li.active>a:focus,
.nav>li.active>a:hover {
  border-bottom: none;
  font-weight: bold;
  font-size: 20px;
  cursor: default;
  color: white !important;
  background-color: #494949;
}

ul {
  text-align: center;

  li:first-child {
    margin-top: 15px;
  }
}

a {
  color: #222222 !important;
  font-weight: bold;

  &:hover {
    background-color: #494949 !important;
    color: white !important;
  }
}

.side-bar-sticky {
  position: sticky;
  top: 48px;
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
}
