/* You can add global styles to this file, and also import other style files */

// GRID
.grid-column-1 {
  display: grid;
  grid-auto-columns: 100%;
}

.grid-column-2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

// FLEX
.flex-view-column {
  display: flex;
  flex-direction: column;
}

.flex-view-row {
  display: flex;
  flex-direction: row;
}


